.titlebox.card.travisci-status {
        border-top: 3px solid #555500;

}
.travis-status-passed {
    color: #0d0;
    font-weight: bold;
}

.travis-status-errored, .travis-status-failed {
    color: #d00;
    font-weight: bold;
}

