.travisci-status .titlebox .titlebox-title .left {
    background-color: #ab671a;
    color: #fff;
}

.travis-status-passed {
    color: #0d0;
    font-weight: bold;
}

.travis-status-errored, .travis-status-failed {
    color: #d00;
    font-weight: bold;
}

